#if (${PackageName} && ${PackageName} != "")
package ${PackageName};

#end

import ${EspressoPackageName}.espresso.DataInteraction;
import ${EspressoPackageName}.espresso.ViewInteraction;
import android.support.test.rule.ActivityTestRule;
import android.support.test.runner.AndroidJUnit4;
import android.test.suitebuilder.annotation.LargeTest;
import android.view.View;
import android.view.ViewGroup;
import android.view.ViewParent;

import ${EspressoPackageName}.InstrumentationRegistry.getInstrumentation;
import ${EspressoPackageName}.espresso.Espresso.onData;
import ${EspressoPackageName}.espresso.Espresso.onView;
import ${EspressoPackageName}.espresso.Espresso.pressBack;
import ${EspressoPackageName}.espresso.Espresso.openActionBarOverflowOrOptionsMenu;
#if (${AddContribImport})
import ${EspressoPackageName}.espresso.contrib.RecyclerViewActions.actionOnItemAtPosition;
#end
import ${EspressoPackageName}.espresso.action.ViewActions.*;
import ${EspressoPackageName}.espresso.assertion.ViewAssertions.*;
import ${EspressoPackageName}.espresso.matcher.ViewMatchers.*;

import ${ResourcePackageName}.R;

import org.hamcrest.Description;
import org.hamcrest.Matcher;
import org.hamcrest.TypeSafeMatcher;
import org.hamcrest.core.IsInstanceOf;
import org.junit.Rule;
import org.junit.Test;
import org.junit.runner.RunWith;

import org.hamcrest.Matchers.allOf;
import org.hamcrest.Matchers.anything;
import org.hamcrest.Matchers.`is`;

@LargeTest
@RunWith(AndroidJUnit4::class)
#if (${WasEverPaused})
// WARNING: Espresso Test Recorder was paused during recording.
// The generated test may be missing actions which might lead to unexpected behavior.
#end
class ${ClassName} {

    @Rule
    @JvmField
    var mActivityTestRule = ActivityTestRule(${TestActivityName}::class.java)

    @Test
    fun ${TestMethodName}() {
    #foreach (${line} in ${TestCode})
    ${line}
    #end
    }

    #if (${AddChildAtPositionMethod})
    private fun childAtPosition(
            parentMatcher: Matcher<View>, position: Int): Matcher<View> {

        return object : TypeSafeMatcher<View>() {
            override fun describeTo(description: Description) {
                description.appendText("Child at position $position in parent ")
                parentMatcher.describeTo(description)
            }

            public override fun matchesSafely(view: View): Boolean {
                val parent = view.parent
                return parent is ViewGroup && parentMatcher.matches(parent)
                        && view == parent.getChildAt(position)
            }
        }
    }
    #end
}
