#if (${PackageName} && ${PackageName} != "")
package ${PackageName}

#end

import ${EspressoPackageNamePrefix}.test.espresso.DataInteraction
import ${EspressoPackageNamePrefix}.test.espresso.ViewInteraction
import ${EspressoPackageNamePrefix}.test.filters.LargeTest
#if (${UsesAndroidxDependency})
import androidx.test.ext.junit.rules.ActivityScenarioRule
import androidx.test.ext.junit.runners.AndroidJUnit4
#else
import android.support.test.rule.ActivityTestRule
import android.support.test.runner.AndroidJUnit4
#end
#if (${HasRequestedPermissions})
import ${EspressoPackageNamePrefix}.test.rule.GrantPermissionRule
#end
import android.view.View
import android.view.ViewGroup
import android.view.ViewParent

import ${EspressoPackageNamePrefix}.test.InstrumentationRegistry.getInstrumentation
import ${EspressoPackageNamePrefix}.test.espresso.Espresso.onData
import ${EspressoPackageNamePrefix}.test.espresso.Espresso.onView
import ${EspressoPackageNamePrefix}.test.espresso.Espresso.pressBack
import ${EspressoPackageNamePrefix}.test.espresso.Espresso.openActionBarOverflowOrOptionsMenu
#if (${AddContribImport})
import ${EspressoPackageNamePrefix}.test.espresso.contrib.RecyclerViewActions.actionOnItemAtPosition
import ${RecyclerViewPackageNamePrefix}.RecyclerView.ViewHolder
#end
import ${EspressoPackageNamePrefix}.test.espresso.action.ViewActions.*
import ${EspressoPackageNamePrefix}.test.espresso.assertion.ViewAssertions.*
import ${EspressoPackageNamePrefix}.test.espresso.matcher.ViewMatchers.*

import ${ResourcePackageName}.R

import org.hamcrest.Description
import org.hamcrest.Matcher
import org.hamcrest.TypeSafeMatcher
import org.hamcrest.core.IsInstanceOf
import org.junit.Rule
import org.junit.Test
import org.junit.runner.RunWith

import org.hamcrest.Matchers.allOf
import org.hamcrest.Matchers.anything
import org.hamcrest.Matchers.`is`

@LargeTest
@RunWith(AndroidJUnit4::class)
#if (${WasEverPaused})
// WARNING: Espresso Test Recorder was paused during recording.
// The generated test may be missing actions which might lead to unexpected behavior.
#end
class ${ClassName} {

#if (${UsesAndroidxDependency})
    @Rule
    @JvmField
    var mActivityScenarioRule = ActivityScenarioRule(${TestActivityName}::class.java)
#else
    @Rule
    @JvmField
    var mActivityTestRule = ActivityTestRule(${TestActivityName}::class.java)
#end

#if (${HasRequestedPermissions})
    @Rule
    @JvmField
    var mGrantPermissionRule =
            GrantPermissionRule.grant(
                    ${RequestedPermissions})

#end
    @Test
    fun ${TestMethodName}() {
    #foreach (${line} in ${TestCode})
    ${line}
    #end
    }
    #if (${AddChildAtPositionMethod})

    private fun childAtPosition(
            parentMatcher: Matcher<View>, position: Int): Matcher<View> {

        return object : TypeSafeMatcher<View>() {
            override fun describeTo(description: Description) {
                description.appendText("Child at position $position in parent ")
                parentMatcher.describeTo(description)
            }

            public override fun matchesSafely(view: View): Boolean {
                val parent = view.parent
                return parent is ViewGroup && parentMatcher.matches(parent)
                        && view == parent.getChildAt(position)
            }
        }
    }
    #end
}
